{% extends 'base.html.twig' %} {% block title %}About {{ controller_name }}{% endblock %} {% block body %}
<style>

</style>

<div class="container w-75">
    <div class="section1">
        <p>All what one needs to enjoy holidays with loved ones? First, is to take a break from the routine schedule and second is to plan where to go? How to go? How to manage the trip? What options are there to choose from? How to get a trip within the
            budget? Which destination will be suitable as per interest of my family/group? What about the accommodation facilities at selected destination? I want to experience something new in this tour but what and how? <br><br> The first step is quite
            easy to take but for second you need a genuine source to get information and as well to plan your trip. With innumerous tourist spots renowned across the world, it becomes really difficult for one to find the best among them. Now no more worries,
            as you can get all the solutions under one roof i.e. TourTravelWorld.com, the other name for convenience in the domain of 24X7 online travel portals. Suggesting the right destination for the right occasion, TourTravelWorld.com brings your
            entire search to a halt. Incepted in the year 2004, this portal has become the destination for all whether he/she is a true adventurer at heart, a nature lover or simply a selfless devotee.<br><br> So, just choose a place for your next trip
            and we will take care of the rest.<br><br> TourTravelWorld.com is owned and managed by Weblink .In Pvt. Ltd., a leading brand in web designing services and e-commerce solutions. Weblink .In Pvt. Ltd.. is counted for its expertise in web solutions
            and its top ranking business portals. Our invincible expertise and rich experience has raised our spirit to reach ahead from our client's expectation. Commendable success rate of other portals managed by Weblink is a live paradigm of our work
            excellence.
        </p>
    </div>
    <div class="section2">
        <h3>Why This Travel Agency?</h3>
        <h6>This Travel Agency is tested and trusted by millions across the globe because of the following factors:</h6>
        <ol>
            <li>
                <h6>User Friendliness</h6>
                It is the user friendly structure of this portal that makes it famous worldwide. Experiencing innumerous clicks per day, this portal is the answer to your requisites, be it your plan to visit an Indian tourist spot or a place overseas.
            </li>
            <li>
                <h6>Variation:</h6>
                It happens that the tour packages that most of the tour operators provide revolve round the same schedule. But the tour operators on our portal bring in something new to every tour package that makes it memorable for the tourists.
            </li>
            <li>
                <h6>Fulfillment of commitment:</h6>
                Indeed, a series of commitments may enable an associate to rely on someone, but we, at TourTravelWorld.com, believe in fulfilling those commitments, what we make to our associates. Today, TourTravelWorld.com is known as an indispensable entity in online
                travel industry only because it values the needs of its associates and provides them with the most effective solutions they are seeking for their multifarious travel requirements.
            </li>
            <li>
                <h6>Feedbacks:</h6>
                We consider every specific feedback of our clients and mould our services accordingly. We consider the client as an integral part of the business and meeting their requirements lie at the core of our working.
            </li>
            <li>
                <h6>Classification:</h6>
                The tour packages are classified into a number of categories based on the location of the tourist spot and the purpose of tourist such as adventure, pilgrimage, etc.
            </li>
            <li>
                <h6>Coverage:</h6>
                Wide coverage of all the major tourist spots and specific information on each of them has been the chief attraction of this portal.
            </li>
            <li>
                <h6>Content:</h6>
                Each and every tourist destination is treated with the most apt description which attracts the tourists from across the world and impels them to visit the place.
            </li>
            <li>
                <h6> Travel Requirements:</h6>
                The tourists have the unique facility to fill up their requirements along with their personal details, particulars about the place they want to visit and more. We assure to cater to your requisites with the most apt solution.
            </li>
            <li>
                <h6>Promotion:</h6>
                The travel agents, through this portal, have found a reliable platform by means of which they can make their presence felt in the global front.
            </li>
        </ol>
    </div>

</div>
{% endblock %}